<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<!-- <div id="overlay" class="overlay"></div> -->

<body>

<!-- ===== SIDEBAR ===== -->
<div class="sidebar" id="sidebar">
    <h2>⚡ E-service</h2>

    <ul>
        <li><a href="/home" class="menu-item">Home</a></li>
        <li><a href="/dashboard" class="menu-item active">Dashboard</a></li>
        <li><a href="/users" class="menu-item">Users</a></li>
        <li><a href="/technicians" class="menu-item">Technicians</a></li>
        <li><a href="/booking" class="menu-item">Booking</a></li>
        <li><a href="/customers" class="menu-item">Customers</a></li>
    </ul>
</div>

<!-- ===== MAIN ===== -->
<div class="main" id="main">

    <!-- ===== TOPBAR ===== -->
    <div class="topbar-pro">
        <div class="topbar-left">
            <span class="toggle-btn" onclick="toggleSidebar()">☰</span>
            <h3>Welcome, {{ session['username'] }}</h3>
        </div>

        <div class="topbar-right">
            <span>🔔 3</span>
            <div class="profile-circle">
                <span id="initial"></span>
            </div>
            <span>{{ session['username'] }}</span>
        </div>
    </div>

    <!-- ===== PAGE CONTENT ===== -->
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>

</div>

<!-- CLOCK -->
<div class="live-time" id="liveTime"></div>

<script src="{{ url_for('static', filename='base.js') }}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>