<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>

<div class="container">

    <!-- Sidebar (COMMON) -->
    <div class="sidebar">
        <h2>⚡ E-service</h2>
        <ul>
            <li><a href="/dashboard" class="menu-item">Dashboard</a></li>
            <li><a href="/users" class="menu-item">Users</a></li>
            <li><a href="/technicians" class="menu-item">Technicians</a></li>
            <li><a href="/booking" class="menu-item">Booking</a></li>
        </ul>
    </div>

    <!-- Dynamic Content -->
    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>