{% extends "base.html" %}
{% block title %}Customers{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}">

<h2>Customer Management</h2>

<button onclick="openCustomerModal()" class="add-btn">+ Add Customer</button>

<!-- <input type="text" id="searchCustomer" placeholder="Search name / phone"> -->

<form method="get" style="margin-bottom:15px; display:flex; gap:10px;">
    <input type="text" name="search" placeholder="Search name / mobile / email"
           value="{{ search }}" style="padding:8px; width:250px;">

    <button type="submit" class="edit-btn">Search</button>
    <a href="/customers" class="delete-btn">Clear</a>
</form>

<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
{% for c in customers %}
<tr>
    <td>{{ c[1] }}</td>
    <td>{{ c[2] }}</td>
    <td>{{ c[3] }}</td>
    <td>{{ c[4] }}</td>
    <td>
        <button onclick="editCustomer({{ c[0] }}, '{{ c[1] }}', '{{ c[2] }}', '{{ c[3] }}', '{{ c[4] }}')" class="edit-btn">Edit</button>
        <button onclick="deleteCustomer({{ c[0] }})" class="delete-btn">Delete</button>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<!-- Modal -->
<div id="customerModal" class="modal">
<div class="modal-content">

<input type="hidden" id="cust_id">

<input type="text" id="full_name" placeholder="Full Name">
<input type="text" id="mobile" placeholder="Mobile Number">
<input type="email" id="email" placeholder="Email">

<textarea id="address" placeholder="Address"></textarea>

<input type="text" id="city" placeholder="City">
<input type="text" id="state" placeholder="State">
<input type="text" id="postal" placeholder="Postal Code">
<input type="text" id="landmark" placeholder="Landmark">

<button onclick="getLocation()">📍 Get Live Location</button>

<input type="hidden" id="lat">
<input type="hidden" id="lng">

<button onclick="saveCustomer()">Save</button>
<button onclick="closeModal()">Cancel</button>

</div>
</div>

<div style="margin-top:20px; text-align:center;">

    {% if page > 1 %}
        <a href="?search={{ search }}&page={{ page-1 }}" class="edit-btn">⬅ Prev</a>
    {% endif %}

    <span>Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
        <a href="?search={{ search }}&page={{ page+1 }}" class="edit-btn">Next ➡</a>
    {% endif %}

</div>

<script src="{{ url_for('static', filename='customer.js') }}"></script>

{% endblock %}