{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

<h2 class="page-title">Today's Schedule</h2>

<div class="cards">

    <div class="card gradient-blue">
        <h4>Total Bookings</h4>
        <p id="total">0</p>
    </div>

    <div class="card gradient-green">
        <h4>Confirmed</h4>
        <p id="confirmed">0</p>
    </div>

    <div class="card gradient-orange">
        <h4>Pending</h4>
        <p id="pending">0</p>
    </div>

    <div class="card gradient-yellow">
        <h4>Completed</h4>
        <p id="completed">0</p>
    </div>

</div>

<!-- <div class="bookings">
    <h3>Today's Bookings</h3>
    <div id="bookingList"></div>
</div> -->

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}