{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<!-- Topbar -->
<div class="topbar">
    <div class="profile-container">
        <div class="profile-circle" id="profileBtn">
            <span id="initial"></span>
        </div>
    </div>
</div>

<h2>Today's Schedule</h2>

<div class="cards">

    <div class="card gradient-blue">
        <h4>Total Bookings</h4>
        <p id="total">0</p>
    </div>

    <div class="card gradient-green">
        <h4>Confirmed</h4>
        <p id="confirmed">0</p>
    </div>

    <div class="card gradient-orange">
        <h4>Pending</h4>
        <p id="pending">0</p>
    </div>
    <div class="card gradient-yellow">
        <h4>Completed</h4>
        <p id="pending">0</p>
    </div>

</div>

<!-- Booking List -->
<div id="bookingList" class="bookings"></div>

<!-- <script src="{{ url_for('static', filename='dashboard.js') }}"></script> -->

{% block extra_js %}
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}

{% endblock %}