{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<div style="display:flex; justify-content:space-between; align-items:center;">
    <h2>User Management</h2>
    <button onclick="openUserModal()" class="add-btn">+ Add User</button>
</div>

<!-- Search -->
<form method="get" style="margin-bottom: 15px; display:flex; gap:10px;">
    <input type="text" name="search" placeholder="Search name/email/phone"
           value="{{ search }}" style="padding:8px; width:250px;">

    

    <button type="submit" class="edit-btn">Search</button>
    <a href="/users" class="delete-btn" style="text-decoration:none;">Clear</a>
</form>

<!-- Table -->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u[0] }}</td>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td>{{ u[3] }}</td>
            <td>{{ u[5] }}</td>

            <td>
                <button onclick="editUser({{ u[0] }}, '{{ u[1] }}', '{{ u[2] }}', '{{ u[3] }}', '{{ u[5] }}')" class="btn edit-btn">
                    ✏️ Edit
                </button>

                <button onclick="deleteUser({{ u[0] }})" class="btn delete-btn">
                    🗑 Delete
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>


<!-- Pagination -->

<div style="margin-top:20px; text-align:center;">
    <select name="limit" style="padding:8px;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15" selected>15</option>
        <option value="20">20</option>
    </select> 
    </br>
    </br>
    {% if page > 1 %}
        <a href="?search={{ search }}&page={{ page-1 }}" class="edit-btn">⬅ Prev</a>
    {% endif %}

    <span>Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
        <a href="?search={{ search }}&page={{ page+1 }}" class="edit-btn">Next ➡</a>
    {% endif %}
</div>

<!-- Modal -->
<div id="userModal" class="modal">
    <div class="modal-content">

        <div class="modal-body">
            <h3>Add / Edit User</h3>

            <input type="hidden" id="user_id">

            <input type="text" id="user_name" placeholder="Name">
            <input type="email" id="user_email" placeholder="Email">
            <input type="text" id="user_phone" placeholder="Phone">

            <select id="user_role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <div class="modal-footer">
            <button onclick="saveUser()" class="save-btn">Save</button>
            <button onclick="closeUserModal()" class="cancel-btn">Cancel</button>
        </div>

    </div>
</div>

<!-- Success Popup -->
<div id="successPopup" class="modal">
    <div class="success-box">
        <div class="success-icon">✔</div>
        <h3>Success!</h3>
        <button onclick="closeSuccessPopup()" class="confirm-btn">OK</button>
    </div>
</div>

{% endblock %}